@import "tailwindcss";

@theme {
   --font-poppins: "Poppins", sans-serif;
   --color-azul-claro: rgba(225, 252, 252, 0.250);
}

@layer components {
  .cards {
    @apply 
     h-64 bg-white rounded-lg shadow-lg overflow-hidden 
     grid grid-cols-1 grid-rows-[auto_auto_1fr] gap-2
     p-[8%] w-[80%] relative text-sm my-4
    ; 
  }

  .cards::before {
    content: '';
    @apply 
      h-1 w-full block bg-cyan-300 absolute top-0 left-0
    ;
  }
  
  .cards > strong {
    @apply 
      row-start-1 row-end-2 self-start
       
    ;
  }
  .cards > p {
    @apply 
     row-start-2 row-end-2
    ;
  }

  .cards > div {
    @apply 
      size-20 bg-no-repeat bg-contain row-start-3 row-end-3 place-self-end
    ;
  }

  .img-super {
    @apply bg-[url(../img/icon-supervisor.svg)];  
  }

  .img-team {
    @apply bg-[url(../img/icon-team-builder.svg)];  
  }

  .img-karma {
    @apply bg-[url(../img/icon-karma.svg)];  
  }

  .img-calcu {
    @apply bg-[url(../img/icon-calculator.svg)];  
  }
}

