@import "tailwindcss";

@theme {
  --font-bevietnan: "Be Vietnam Pro", sans-serif;
  --color-bg-button:  rgba(251, 128, 75, 0.597);
  --color-black-shadow: rgba(0, 0, 0, 0.125);
}

@layer utilities {
  @keyframes border-blink {
    0%, 50% { border-color: #f97316; }
    51%, 100% { border-color: transparent; }
  }
  
  .focus\:animate-border-blink:focus { /*so funciona no inline - 1*/
    animation: border-blink 1s infinite;
  }
}

@layer components {
  .reset-all {
    all: unset;
  }

  .bg-pernl {
    @apply bg-[url()];
  }

  .contain-principal {
    @apply
     h-full w-full px-4 flex flex-col items-center
     lg:grid lg:grid-cols-2 lg:grid-rows-[auto_auto_auto] lg:gap-y-14 lg:mt-8 lg:justify-items-start lg:w-[80%] lg:p-0
    ;
  }

  .menu {
    @apply 
     absolute top-[80px] bg-white w-[80vw] h-68 shadow-lg 
     left-1/2 -translate-x-1/2 flex flex-col justify-center 
     items-center font-bold text-blue-950 opacity-0 invisible

     lg:visible lg:opacity-100 lg:w-110 lg:h-6 lg:shadow-none 
     lg:translate-x-0 lg:static lg:bg-slate-50
    ;
  }
  
  .menu li {
    @apply my-5 w-auto lg:m-0;
  }

  .conf-sections {
    @apply flex flex-col items-center;
  }

  .bg-img-slogan {
    @apply 
     bg-[url(../img/bg-simplify-section-mobile.svg)]
     bg-no-repeat
     ;
  }

  .bnt-start {
    @apply
      h-5 w-24 p-2 bg-orange-500 text-center text-xs font-semibold text-white
      rounded-full shadow-lg shadow-red-300/50 mt-7
    ;
  }

  .bnt-start:hover {
    @apply lg:bg-bg-button;
  }

  .bnt-start:active {
    @apply 
      bg-bg-button transition-transform duration-150 ease-linear
      -translate-y-1
    ;
  }
  
  /*Sections 01, 02..*/
  .text-areas {
    @apply 
      grid grid-cols-[auto_1fr] grid-rows-[auto_1fr] 
      gap-2
    ;
  }

  .text-areas h3 {
     @apply font-bold text-blue-950 col-start-2;
   }

  .text-areas p {
    @apply col-span-full lg:col-start-2;
  }

  .icon-num {
    @apply 
      bg-orange-500 text-white text-center font-semibold 
      w-13 h-7 rounded-full pt-[2px] 
    ;
  }

  /*comentarios*/
  .commts-contain {
    @apply 
      w-full my-9 lg:row-start-3 lg:col-span-full
    ;
  }

  .commts-contain h2 {
    @apply text-blue-950 text-xl font-bold;
  }

  .commts-contain > div {
    @apply 
     mt-10 mb-9 overflow-x-auto flex space-x-5 w-full lg:overflow-x-hidden  lg:grid lg:grid-cols-3 lg:grid-rows-1 lg:w-full
    ;
    scrollbar-width: none;
  }

  .commits-contain__item {
    @apply w-full shrink-0;
  }

  .commits-contain__item > p {
    @apply text-base text-center w-[85%];
  }

  .commits-contain__item > img {
    @apply size-13 my-2;
  }

 .commits-contain__item > strong {
    @apply font-semibold  text-blue-950 my-2;
  }

  .dot {
    @apply 
      size-2 rounded-full border-1 border-orange-500 
      cursor-pointer transition-colors mx-1
    ;
   }    

  .dot.active {
    @apply bg-orange-500;
  }

  /*footer*/
  .style-footer {
    @apply h-110 bg-slate-950 w-screen;
  }

  #input-email {
    @apply 
    bg-white rounded-full h-full border-transparent
      border-2 lg:hover:border-orange-500 text-center m-0
    focus:border-orange-500 focus:caret-amber-500    
    ;
  }

  #input-email::placeholder {
    @apply text-left text-xs pl-4;
  }

  .links{
    @apply flex justify-between w-[65%];
  }

  .links a{
    @apply
    lg:hover:text-orange-500
    active:text-orange-500
    ;
  }

  .nav-social {
    @apply flex w-[80vw] h-6 justify-evenly my-9;
  }
 
  .nav-social img{
    @apply h-full;
  }

  .nav-social svg {
    @apply 
    text-white lg:hover:text-orange-500
    active:text-orange-500
    ;
  }
}

/*
 1 - .[primeiro]\:[segundo]:[terceiro] {
        estilos
      }

[primeiro] = modificador que você quer (active, focus, hover, etc.)
[segundo] = nome da sua classe (animate-border-blink, bg-red-500, etc.)
[terceiro] = comportamento CSS (:active, :focus, :hover, etc.)
*/ 
